# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Variables de entorno con secretos
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema
.DS_Store
Thumbs.db

# Vercel
.vercel/
